<div>
  <h2 style="text-align:center">Mes Listes de courses</h2>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table" matSort>

  <!-- Colonne ID - n'est pas affichée cependant requise pour obtenir l'ID-->
  <ng-container matColumnDef="_id">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let row"></td>
  </ng-container>

  <!-- Colonne Nom -->
  <ng-container matColumnDef="products_name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom</th>
    <td mat-cell *matCellDef="let row"><b>{{row.products_name}}</b></td>
  </ng-container>

  <!-- Colonne Date -->
  <ng-container matColumnDef="products_date">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
    <td mat-cell *matCellDef="let row"> {{row.products_date | date: 'dd MMM. YYYY' : '' : 'fr'}} </td>
  </ng-container>

  <!-- Colonne Actions - Rediriger, Bouttons Modifier et supprimer -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
    <td mat-cell *matCellDef="let row">
      <a mat-button  color="link" [routerLink]="['/mainlist', row._id]">Sélectionner</a>
      <button mat-icon-button color="primary" (click)="editMainList(row, row._id)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="deleteMainList(row._id, row.products_name)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>
  
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
 
</table>
  
<button mat-fab (click)="addMainList()" aria-label="Add">
  <mat-icon>add</mat-icon>
</button>

